* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h6 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(62, 125, 255);
  line-height: 28px;
  font-family: "Inter", sans-serif;
}

h4 {
  font-size: 45px;
  font-weight: 700;
  color: rgb(8, 3, 33);
  line-height: 56px;
  font-family: "Inter", sans-serif;
}

h5 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(8, 3, 33);
  line-height: 36px;
  font-family: "Inter", sans-serif;
}

p {
  font-size: 18px;
  font-weight: 500;
  color: rgb(99, 115, 129);
  line-height: 28px;
  font-family: "Inter", sans-serif;
}
